.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2%;
  padding-left: 2%;
}

mat-form-field {
  width: 14rem;
}

button {
  width: 6rem;
  height: 3rem;
}