.pagination{
  position:absolute;
  bottom:0;
  right:0;
}

table {
  table-layout: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.table-header th label{
  padding: 2px;
}

a {
  text-decoration: none;
}



