<div class="list-items-main">
  <table>
    <tr class="table-header">
      <th><label>Repository name</label>
      </th>
      <th><label>Is it a Fork?</label>
      </th>
      <th><label>Pull Request Count</label>
      </th>
      <th><label>Short description</label>
      </th>
      <th><label>Issues Count</label>
      </th>
      <th><label>Date of last commit</label>
      </th>
    </tr>
    <tr class="table-datas" *ngFor="let data of user | paginate: {  itemsPerPage: 15, currentPage: p }">
      <td>
        <a href="{{data.node.url}}">
          {{data.node.name}}
        </a>
      </td>
      <td>
        {{data.node.isFork}}
      </td>
      <td>
        {{data.node.pullRequests.totalCount}}
      </td>
      <td>
        {{data.node.shortDescriptionHTML}}
      </td>
      <td>
        {{data.node.issues.totalCount}}
      </td>
      <td>
        {{data.node.defaultBranchRef.target.committedDate}}
      </td>
    </tr>
    <tr></tr>
  </table>
</div>
<div class="pagination">
  <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true" responsive="true"
    previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>
