<div class="list-items">
  <mat-list>
    <mat-list-item>
      {{error}}
    </mat-list-item>
    <mat-list-item *ngFor="let data of user | paginate: {  itemsPerPage: 5, currentPage: p }">
      <p matLine>
        <label>Repository name</label>
        <a target="_blank" href={{data.node.url}}>
          {{data.node.name}}
        </a>
      </p>
      <p matLine>
        <label>Is it a Fork?</label>
        {{data.node.isFork}}
      </p>
      <p matLine>
        <label>Pull Request Count</label>
        {{data.node.pullRequests.totalCount}}
      </p>
      <p matLine>
        <label>Short description</label>
        {{data.node.shortDescriptionHTML}}
      </p>
      <p matLine>
        <label>Issues Count</label>
        {{data.node.issues.totalCount}}
      </p>
      <p matLine>
        <label>Date of last commit</label>
        {{data.node.defaultBranchRef.target.committedDate}}
      </p>
    </mat-list-item>
  </mat-list>
</div>
<div class="pagination">
  <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true" responsive="true"
    previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div>
