mat-list-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-list mat-list-item p {
  padding: 2px 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
mat-list mat-list-item p label {
  font-size: 22px;
  font-weight: 400;
}

mat-list a{
text-decoration: none;
margin: 0;
}

.list-items {
  top: 0;
}

.pagination{
  position:absolute;
  bottom:0;
  right:0;
}