<div>
  <mat-list>
    <mat-list-item>
      {{error}}
    </mat-list-item> 
    <mat-list-item *ngFor="let data of user">
      <h3 matLine>
        Repository name: 
        <a target="_blank" href={{data.node.url}}>
         {{data.node.name}}
        </a>
      </h3>
      <p matLine>
        {{data.node.isFork}}
      </p>
      <p matLine>
        {{data.node.pullRequests.totalCount}}
      </p>
      <p matLine>
        {{data.node.shortDescriptionHTML}}
      </p>
      <p matLine>
        {{data.node.issues.totalCount}}
      </p>
      <p matLine>
        {{data.node.defaultBranchRef.target.committedDate}}
      </p>
    </mat-list-item>
  </mat-list>
</div>
